#tela{
    background-color: green;
}

#especial{
    background-color: #198754;
}

#buttonValidador{

    color: #fff;
    background-color: #337ab7 !important;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;

}
